In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os

# load dataset (adjust path if your CSV is elsewhere)
df = pd.read_csv("../data/sales.csv")
df['OrderDate'] = pd.to_datetime(df['OrderDate'])
df.head()

,OrderID,OrderDate,Category,SubCategory,Region,Sales,Cost,Quantity,Discount
0,1001,2023-01-05,Furniture,Chairs,South,25000,18000,5,0.10
1,1002,2023-01-07,Technology,Laptops,North,75000,62000,2,0.05
2,1003,2023-01-10,Office Supplies,Paper,East,3500,2000,20,0.00
3,1004,2023-01-12,Technology,Accessories,West,15000,9000,7,0.15
4,1005,2023-01-15,Furniture,Tables,South,32000,25000,3,0.20